.photos
    width: 100%

    .photo-container
        background: #212121
        width: 100%
        padding: 2.5% 7%
        display: flex
        justify-content: space-evenly
        align-items: center
        flex-direction: row
        flex-wrap: wrap
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

        .curated
            margin: 10px
            padding: 20px
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: flex-start
            color: white

            i
                color: white
                opacity: .7
                margin-right: 20px
                transition: .3s
                cursor: pointer
            i:hover
                color: #f51d5e
                transition: .3s
                opacity: 1
